extends layout

block content
    #wrapper.container
      include partials/nav.jade
      #content.row
        .col-md-2.sidebar
            .row.profile-image(style="background-image:url('#{user.pic}')")
            .row.profile-info-box
              ul.profile-info
                li 
                  i.glyphicon.glyphicon-user
                  | &nbsp; #{user.fullname}
                li 
                  i.glyphicon.glyphicon-info-sign
                  | &nbsp; #{user.age} years
                li 
                  img.gender-icon(src="/images/gender-icon.png")
                  | &nbsp; #{user.gender}
                if user.friends
                  li 
                    | Has #{user.friends.length} friends #{currentUserId}
                  li
                    each friend in user.friends
                      a(href="/users/#{friend.username}") #{friend.username} &nbsp;

                if user.id != currentUserId
                  if isFriend
                    a.btn.btn-primary(href="/addFriend/#{user.username}")
                      | Add as friend
                  else
                    a.btn.btn-primary(href="/unFriend/#{user.username}")
                      | Unfriend
        .col-md-9
          .grid.js-masonry(data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": 200 }')
            .grid-item
              | Grid Page 1
            .grid-item
              | Grid Page 1
            .grid-item
              | Grid Page 1
            .grid-item
              | Grid Page 1
            .grid-item
              | Grid Page 1
            .grid-item
              | Grid Page 1