extends layout

block content
    #wrapper.container
      include partials/nav.jade
      #content.row
        .col-md-2.sidebar
            .row.profile-image(style="background-image:url('#{user.pic}')")
            .row.profile-info-box
              ul.profile-info
                li
                  i.glyphicon.glyphicon-user
                  | &nbsp; #{user.fullname}
                li
                  i.glyphicon.glyphicon-info-sign
                  | &nbsp; #{user.age} years
                li
                  img.gender-icon(src="/images/gender-icon.png")
                  | &nbsp; #{user.gender}
                if user.friends
                li
                  | Has #{user.friends.length} friends  
                  | Friends List
                  each friend in user.friends
                      li
                        a(href="/users/#{friend.username}") #{friend.username} &nbsp;
                if currentUser
                  if user._id.toString() != currentUser._id.toString()
                    if mutualFriends
                      | Mutual Friends
                      each mutualFriend in mutualFriends
                        p #{mutualFriend}
                    if isFriend
                      a.btn.btn-primary(href="/unFriend/#{user.username}")
                        | Unfriend
                    else
                      a.btn.btn-primary(href="/addRequest/#{user.username}")
                        | Add as friend
                  else
                    if user.requests 
                      each request in user.requests
                        if(request.status=="new")
                          p.alert.alert-info(role="alert") #{request.user_id.username} has send a request.
                            br
                            a.btn.btn-primary.btn-xs(href="/addFriend/#{request.user_id.username}") Accept
                            a.btn.btn-warning.btn-xs(href="/ignoreFriend/#{request.user_id.username}") Ignore
                            a.btn.btn-danger.btn-xs(href="/blockFriend/#{request.user_id.username}") Block
                else
                  a.btn.btn-primary(href="/addRequest/#{user.username}")
                    | Add as friend      
        .col-md-9
          .grid.js-masonry(data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": 200 }')
            .grid-item
              | Grid Page 1
            .grid-item
              | Grid Page 1
            .grid-item
              | Grid Page 1
            .grid-item
              | Grid Page 1
            .grid-item
              | Grid Page 1
            .grid-item
              | Grid Page 1
